<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>256975448431-kl2br1a9f2tjge5rog7vjcqid68g4ci7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256975448431-kl2br1a9f2tjge5rog7vjcqid68g4ci7</string>
	<key>API_KEY</key>
	<string>AIzaSyBF1_vWafWATIr5Z39lIrA51mycHan1vzk</string>
	<key>GCM_SENDER_ID</key>
	<string>256975448431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>blubber.projects.jimmy.Blubber</string>
	<key>PROJECT_ID</key>
	<string>blubber-6b27b</string>
	<key>STORAGE_BUCKET</key>
	<string>blubber-6b27b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:256975448431:ios:135c61bb21d8a9f3</string>
	<key>DATABASE_URL</key>
	<string>https://blubber-6b27b.firebaseio.com</string>
</dict>
</plist>